---
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Linux
BreakConstructorInitializersBeforeComma: 'true'
ColumnLimit: '80'
ConstructorInitializerIndentWidth: '2'
ContinuationIndentWidth: '2'
Cpp11BracedListStyle: 'true'
IndentCaseLabels: 'false'
IndentWidth: '2'
IndentWrappedFunctionNames: 'true'
Language: Cpp
PointerAlignment: Left
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInParentheses: 'false'
TabWidth: '2'
UseTab: Never

...
