.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_1 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0 2em
    }
.calibre_2 {
    display: block;
    text-indent: 0;
    margin: 1pt 0 0 2em
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 2em;
    margin: 1pt 0 0
    }
.calibre_5 {
    display: block;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_6 {
    display: block;
    text-indent: 2em;
    margin: 1pt 0 0
    }
.calibre_7 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1pt 0 0
    }
.calibre_8 {
    height: 312px;
    vertical-align: baseline;
    width: 576px
    }
.calibre_9 {
    display: block;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_10 {
    color: blue
    }
.calibre1 {
    display: block
    }
.calibre2 {
    font-size: 1.25em;
    line-height: 1.2
    }
.calibre3 {
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre4 {
    font-size: 1.125em;
    line-height: 1.2
    }
.italic {
    font-style: italic
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
.underline {
    text-decoration: underline
    }
